.wrapper {
	padding: 0px 40px;
}

.wrapper .title {
	text-align: center;
}

.registration-form input[type=text], input[type=password], select {
	box-sizing: border-box;
    width: 150px;
    border-radius: 5px;
	border: 2px #079992 solid;
	padding: 5px;
	font-size: 14px;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
    outline: none;
}

.registration-form input[type=submit] {
	padding: 5px;
	font-size: 14px;
	border-radius: 7px;
	background-color: #f5f6fa;
	border: #079992 2px solid;
}

.registration-form input[type=submit]:hover {
	cursor: pointer;
	color: white;
	background-color: #079992;
	transition: 0.3s;
}

.registration-form span {
	display: inline-block;
	box-sizing: border-box;
    width: 100px;
}

.registration-form .input-container {
	margin: 20px 0px;
}



