.weekdays input{
    display: none;
}

.weekdays label {
    user-select: none;
}

.weekdays > .day + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekdays > .day:checked + label {
    background: rgb(7, 199, 87);
    color: #ffffff;
}

#dates #firstTimestamp {
    display: inline-block;
}

#dates > .date{
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
}
