.wrapper h2 {
	text-align: center;
}

.wrapper {
	padding-left: 15px;
}

.weekdays input{
    display: none;
}

.weekdays label {
    user-select: none;
}

.weekdays > .day + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 40px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekdays > .day:checked + label {
    background: rgb(7, 199, 87);
    color: #ffffff;
}

#dates #firstTimestamp {
    display: inline-block;
}

#dates > .date{
    display: block;
    margin-top: 7px;
}

input[type=time] {
	background-color: #2ecc71;
	border-radius: 13px;
	border: none;
	padding: 5px;
	font-size: 16px;
	margin-bottom: 5px;
	font-weight: bold;
	color: white;
}

.delButton {
	margin-left: 3px;
	background-color: transparent;
	font-size: 16px;
	color: #2c3e50;
	border: none;
}

.delButton:hover {
	color: gray;
	cursor: pointer;
}

.wrapper input[type=submit] {
	padding: 5px;
	font-size: 14px;
	border-radius: 7px;
	background-color: #f5f6fa;
	border: #079992 2px solid;
}

.wrapper input[type=submit]:hover{
	cursor: pointer;
	color: white;
	background-color: #079992;
	transition: 0.3s;
}

.wrapper input[type=text] {
	border-radius: 5px;
	border: 2px #079992 solid;
	padding: 5px;
	font-size: 16px;
	margin-left: 5px;
}

.wrapper select {
    border-radius: 5px;
	border: 2px #079992 solid;
	padding: 5px;
	font-size: 14px;
	-moz-appearance: none;
	appearance: none;
}

.optionContainer {
	margin-bottom: 15px;
	margin-left: 15px;
}