.wrapper h2 {
	text-align: center;
}

.wrapper a {
	display: block;
	text-decoration: none;
	color: black;
	margin-left: 15px;
	margin-bottom: 25px;
	padding: 6px;
	width: 30%;
	border-radius: 5px;
	font-size: 16px;
	background-color: #dcdde1;
}

.wrapper a:hover {
	background-color: #079992;
	color: #f5f6fa;
	transition: 0.3s;
	cursor: pointer;
}

.wrapper #addPatient {
	width: 15%;
}