ul, li{
    list-style: none;
}

body {
	background-color: #f1f2f6;
	font-family: sans-serif;
}

#wrapper{
	width: 1000px;
	margin: 20px auto 60px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative; 
    background-color: #fefefe;
    margin: auto; 
    padding: 0;
    /*border: 1px solid #888;*/
    /*border: none;*/
    border-radius: 5px;
    width: 30%;
}

.modal input[type=text] {
	border-radius: 5px;
	border: 2px #079992 solid;
	padding: 5px;
	font-size: 14px;
}

.modal .close {
    color: black;
    float: right;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    width: 26px;
    font-size: 26px;
    font-weight: bold;
    /*
    background-color: lightgray;
    border-radius: 4px;*/
}

.modal .close:hover {
    color: darkgray;
}

.modal .modal-header {
    padding: 2px 2px 4px 16px;
    background-color: #079992;
    color: black;
}
  
.modal .modal-body {
    padding: 16px 16px;
    background-color:#37495d;
}

#responseCommentary .modal-body {
	background-color: #f1f2f6;
}

#pagination-bar{
	text-align:center;
}

#pagination-bar ul{
	padding: 0px;
	margin: 20px;
}

#pagination-bar li{
	display:inline-block;
}

#pagination-bar li.active>a{
	background-color: gray;
	color: white;
}

#pagination-bar li>a{
	text-align: center;
	font-size: 16px;
	padding: 8px 15px;
	border: 1px solid gray;
	text-decoration: none;
	color: black;
}

#pagination-bar .paginationjs-prev a{
	border-radius: 4px 0px 0px 4px;
}

#pagination-bar .paginationjs-next a{
	border-radius: 0px 4px 4px 0px;
}

#pagination-data-container table {
	border-collapse: collapse;
	table-layout:fixed;
	width: 100%;
	box-shadow: 0 0 5px #888;
	background-color: #dcdde1;
	border-radius: 6px;
	overflow: hidden;
}

#pagination-data-container th, td {
	text-align: left;
	padding: 16px;
}

#pagination-data-container td.options {
	padding: 0px;
}

#pagination-data-container td.options span{
	margin-left: 16px;
	font-size: 30px;
}

#pagination-data-container td.options span:first-child:hover{
	cursor: pointer;
	color: #16a085;
	transition: 0.15s;
}

#pagination-data-container td.options span:nth-child(2):hover{
	cursor: pointer;
	color: #e74c3c;
	transition: 0.15s;
}

#pagination-data-container td.options span i.fas.fa-info-circle:hover{
	cursor: pointer;
	color: #f39c12;
	transition: 0.15s;
}

#pagination-data-container thead {
	background-color: #718093;
	font-size: 18px;
}

#pagination-data-container tbody>tr:hover {
	transition: 0.5s;
	background-color: #95a5a6;
}