.wrapper {
	padding-left: 15px;
}

.wrapper h2 {
	text-align: center;
}

.wrapper input[type=text] {
	border-radius: 5px;
	border: 2px #079992 solid;
	padding: 5px;
	font-size: 14px;
}

#patient-form input[type=text]{
	box-sizing: border-box;
    width: 150px;
}

#patient-form span {
	display: inline-block;
	box-sizing: border-box;
    width: 150px;
}

#patient-form .input-container {
	margin: 20px 0px;
}